*.pyc
.idea/
.vscode/
figures/
.venv/
__pycache__/
.DS_Store
.RData
.Rhistory
.ipynb_checkpoints/
output/*
!output/
!output/deseq2_significant_genes.csv
!output/edgeR_significant_genes_annotated_rpy2.csv
!output/README.md